/**
* Override the defaults of he Swagger UI topbar
*/
.swagger-ui .topbar {
  background-color: #5497A0;
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
  border-color: white;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  background-color: #5497A0;
  border: 1px solid white;
}

/**
* When inspecting endpoint content, under responses, there are links for each
* resopnse to see the example value of the model, the model styling is very
* difficult to comprehend, let's hide that link and reset some styling of the
* tabs
*/
a.tablinks[data-name='example'] {
  cursor: default;  
}

.swagger-ui .tab li:first-of-type::after,
a.tablinks[data-name='model'] {
  display: none;
}