name: Lint

on: push

jobs:
  run-linter:
    name: Run Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install Dependencies
        run: yarn install

      - name: Run Linters
        run: yarn lint
